*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

label{
    display: inline-block;
    width: 140px;
}

input{
    width: 300px;
}

label, input, button{
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 4px;
}